NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:8000
NEXT_PUBLIC_AGENTATION_SYNC_ENABLED=false
NEXT_PUBLIC_AGENTATION_ENDPOINT=http://localhost:4747
NEXT_PUBLIC_SHOW_DEV_RESET_TOKEN=false
NEXT_SERVER_API_PROXY_TARGET=http://127.0.0.1:8000
NEXT_SERVER_API_BASE_URL=http://127.0.0.1:8000
