DATABASE_URL=postgresql+psycopg://neondb_owner:npg_unsbj0cdRI1J@ep-bold-sun-a13rsj6j-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=4f70d7eebcbbbbb06beeb18fcf35a92ce10d4e5754ca4b57979aba37095dfbf7
JWT_EXPIRES_IN=3600
CORS_ORIGINS=http://localhost:3000,http://localhost:8080
